<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <title>REVV.</title>
</head>
<body>
    <form action='/revv/<%=item._id%>?_method=PUT' method='POST'>
        <input class= 'title' type='text' name='title' value='<%=item.title%>'>
        <input class= 'handle' type='text' name='business' value='<%=item.business%>'>
        <input class='img' type='string' name='img' value='<%=item.img%>'>
        <input class='entry' type='text' name='entry' value='<%=item.entry%>'>
        <button type='submit'>update revv.</button>
        </form>
        <form action='/revv/<%=item._id%>?_method=DELETE' method='POST'><button type="submit">delete</button></form>
</body>
<footer>2021  t.fore &copy </footer>
</html>