<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/show.css">
    <title>Revv.</title>
</head>
<body>
    <img src="<%=item.img%>" alt="pic">
    <h1 class="title"><%=item.title%></h1>
    <p class='itemt'><%=item.entry%></p>
    <p class='itemb'><%=item.business%></p>
    <a class='button' href='/revv/<%=item._id%>/edit'>edit.</a>
    <a class='button' href='/revv'>return.</a>
</body>
<footer>2021  t.fore &copy </footer>
</html>